.welcome-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF3FB;
}

.welcome__box {
  min-height: 70%;
  width: 80%;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
}

.welcome__title-box {
  min-height: 13.7rem;
  background-color: var(--color-primary);
  color: #EBF3FB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  font-size: 3rem;
  font-weight: 400;
}

.welcome__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__form input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: .7rem 1rem;
  margin-top: 1rem;
  transition: all .4s ease-out;
}

.welcome__form input:focus {
  border-bottom: 1px solid var(--color-primary);
}

.welcome__btn {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn-2 {
  color: #EBF3FB;
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid #ccc;
  outline: none;
}

.welcome__form span {
  height: 1rem;
  font-size: 1.3rem;
  margin-top: .5rem;
  color: red;
}

.welcome__form .error {
  border: 1px solid red;
}

.welcome__form .error::placeholder {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* .welcome__title {
  font-size: 3rem;
  margin-bottom: .8rem;
} */

.form input, textarea {
  padding: .8rem .8rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  outline: none;
}

form select {
  background-color: #fff;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 0.5em;
  padding: 6px 0 7px;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.datepicker::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #00C851;
}

.btn {
  padding: .8rem 1.2rem;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: .5rem;
  outline: none;
  color: #fff;
  background-color: teal;
}

.btn--logout {
  width: 5%;
  margin: 1rem;
  padding: 1rem;
  background-color: orangered;
}

.signup__btn, .login__btn {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.nav {
  height: 7vh;
  /* width: 100vw; */
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 20;
  background-color: var(--color-primary);
}

.nav__list {
  /* min-width: 20%; */
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem 1rem;
}

.nav__box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #eee;
}

.nav__item {
  margin-right: 1rem;
}

/* HOME PAGE */
.home {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('./images/home-large.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

.home__box--sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--home {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 44%;
}

.home__title {
  width: 100%;
  font-size: 5.6rem;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 37%;
}

.form--home input, select {
  width: 25%;
  padding: 1.5rem 1.3rem;
  border: 1px solid #ccc;
  outline: none;
  margin: 0 .5rem;
}

.btn--home {
  padding: 1.6rem 3.2rem;
  background-color: orangered;
}

/* ADVERTISEMENTS */
.advert {
  height: auto;
  margin-top: 1rem;
}

.advert__box {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content;
}

.advert__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 2rem;
}

.advert__content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  grid-gap: 5rem;
  justify-content: center;
}

.advert__primary {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  height: 53vh;
  position: relative;
}

.advert__primary-colored {
  height: 30%;
  /* background-color: var(--color-primary); */
}

/* later switch with actual image */
.advert__primary-logo {
  height: 32%;
  width: 100%;
  /* display: block; for image */
  margin: 0 auto;
  /* border: .5rem solid #fff; */
  border-radius: 50%;
  position: relative;
  bottom: 16%;
  /* background-image: url('./images/g-logo.jpg'); */
  background-position: center;
  background-size: cover;
  position: relative;
}

.advert__primary-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.advert__primary-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 48%;
}

.advert__primary-company{
  font-size: 1.5rem;
  font-weight: 500;
}

.advert__primary-position {
  font-size: 1.2rem;
  font-weight: 500;
}

.advert__primary-shaded {
  font-size: 1.3rem;
  background: #eee;
  padding: 1rem;
}

.advert__primary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advert__primary-btn {
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
}

/* .advert__sidebar {
  border: 1px solid blue;
} */

/* Modal */
.modal {
  height: 100vh;
  width: 100vw;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 40;
}

.modal__layer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 50;
}
/* @supports (-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(10px)) {
  .modal__layer {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
} */

.modal__content {
  min-height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  z-index: 50;
  padding: 1rem 0;
}

.modal__title {
  position: absolute;
  top: 0;
  font-size: 3.5rem;
  font-weight: 300;
}

.modal__form {
  width: 85%;
  margin-top: 4rem;
}

.modal__input--2 select {
  width: 84%;
}

.modal__buttons {
  display: block;
  margin: 1rem auto 0 auto;
}

.modal__buttons > * {
  margin-left: .5rem;
}

.btn--close {
  background-color: red;
}

.btn--submit {
  background-color: var(--color-primary);
}

.modal__closed {
  display: none;
}

/* AnimeJS */
#boxes {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.box {
  height: 50px;
  width: 50px;
}

.one {
  background-color: var(--color-primary);
}

.two {
  background-color: var(--color-secondary);
}

.three {
  background-color: var(--color-primary);
}

.four {
  background-color: var(--color-secondary);
}

.imageRoot {
  background-image: linear-gradient(to right, rgba(94,24,232, .3), rgba(94,24,232, .3)),
  url('./images/home-large-3.jpg');
  /* background-image: linear-gradient(105deg, rgba(94, 24, 232,.5) 0%, rgba(94, 24, 232,.5) 50%, transparent 50%),url('images/home-large-3.jpg'); */
  background-position: center;
  background-size: cover;
  height: calc(100vh - 64px);
  width: 100vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

.home__x {
  color: var(--color-primary);
  transition: transform .3s ease-in-out;
}

.home__x:hover {
  display: inline-block;
  transform: scale(1.5) rotate(360deg);
}

/* SLIDER */
.slider{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 30;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  height: 250px;
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
/* 
.slider__image {
  display: block;
  height: 200px;
  width: 300px;
  background-image: url('./images/add.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: -280px;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: -280px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/****************COOCKIE FOOTER *********************/
.coockie__footer {
  min-height: 10vh;
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  opacity: .9;
  padding: 2rem;
  z-index: 40;
}

.btn--coockie {
  border-radius: .5rem;
}

/* SINGLE ADVERT */
.advert__single {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(auto-fit, minmax(65vh, min-content)); */
  grid-template-rows: repeat(3, min-content);
  grid-gap: 5rem;
  position: relative;
  z-index: 30;
  top: 7vh;
}

.advert__single-main {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
  top: 7vh;
}

.advert__single-sidebar--1 {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  /* margin-top: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advert__single-sidebar--2 {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advert__single-logo {
  min-height: 25%;
  max-height: 30%;
  width: 65%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.advert__single-text {
  padding: 0 2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: .5rem;
}

.advert__single-name {
  font-size: 2.2rem;
  margin-bottom: .3rem;
}

.advert__single-description {
  font-size: 1.2rem;
}

.advert__single-box {
  font-size: .5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem;
}

/* .advert__single-box--mini {
  padding: .5rem;
} */

.advert__single-box--mini span {
  font-size: 1rem;
  font-weight: bold;
}

/* .advert__single-text-sub {
  font-weight: 200;
} */

.advert__single-add {
  height: 200px;
  width: 70%;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advert__single-add--1 {
  background-color: royalblue;
}

.advert__single-add--2 {
  background-color: seagreen;
}

.advert__single-add--3 {
  background-color: slategrey;
}

.advert__single-add--4 {
  background-color: rgb(43, 177, 49);
}

.advert__single-add--5 {
  background-color: rgb(63, 17, 116);
}

.advert__single-add--6 {
  background-color: rgb(231, 135, 24);
}

.advert__single-add:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 65%;
  }

  .nav__link {
    font-size: 1.3rem;
  }

  /* .welcome__title {
    font-size: 2.6rem;
  } */

  .nav__list {
    min-width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .signup__btn, .login__btn {
    width: 50%;
  }

  .home__title {
    font-size: 1.7rem;
    top: 33%;
    width: 100%;
  }

  .form--home {
    flex-direction: column;
    bottom: 46%;
  }

  .form--home input, select, .btn--home {
    width: 75%;
    font-size: 1.3rem;
    padding: 1.7rem 1rem;
    outline: none;
    margin-bottom: 1rem;
    position: relative;
    top: -4rem;
  }

  .btn--logout {
    top: 0;
    width: 28%;
  }

  .nav__list {
    /* width: 50%; */
  }

 /* .modal__form, #modal__input--2, select {
    position: static;
  } */

  .modal__content {
    min-height: 78%;
    width: 90%;
  }

  /* .modal__title {

  } */
}

/* MOBILE FIRST */
@media only screen and (min-width: 400px) {
  .advert__single-text {
    width: auto;
  }

  .advert__single-logo {
    margin-top: 0;
  }
}


@media only screen and (min-width: 600px) {
  .welcome__box {
    width: 50%;
  }

  .advert__single-logo {
    width: 60%;
  }

  .advert__single-text {
    width: 80%;
  }

  .advert__single-box {
    width: 60%;
    margin: 1rem auto 0 auto;
  }

  .advert__single-add {
    width: 60%;
  }
}

@media only screen and (min-width: 728px) {
  .advert__single-logo {
    width: 50%;
  }

  .advert__single-add {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .welcome__box {
    width: 40%;
  }

  .advert__single-logo {
    width: 30%;
  }

  .advert__single-text {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome__box {
    width: 30%;
  }

  .advert__primary-logo {
    width: 60%;
    border-radius: 1rem;
  }
}