.welcome-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF3FB;
}

.welcome__box {
  min-height: 70%;
  width: 80%;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
}

.welcome__title-box {
  min-height: 13.7rem;
  background-color: #F3322B;
  color: #EBF3FB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  font-size: 3rem;
  font-weight: 400;
}

.welcome__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__form input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: .7rem 1rem;
  margin-top: 1rem;
  transition: all .4s ease-out;
}

.welcome__form input:focus {
  border-bottom: 1px solid #F3322B;
}

.welcome__btn {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn-2 {
  color: #EBF3FB;
  background-color: #F3322B;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid #ccc;
  outline: none;
}

.welcome__form span {
  height: 1rem;
  font-size: 1.3rem;
  margin-top: .5rem;
  color: #F3322B;
}

.welcome__form .error {
  border: 1px solid #F3322B;
}

.welcome__form .error::placeholder {
  color: #F3322B;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* .welcome__title {
  font-size: 3rem;
  margin-bottom: .8rem;
} */

.form input {
  padding: .8rem .8rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  outline: none;
}

form select {
  background-color: #fff;
}

.btn {
  padding: .8rem 1.2rem;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: .5rem;
  outline: none;
  color: #fff;
  background-color: teal;
}

.btn--logout {
  width: 5%;
  margin: 1rem;
  padding: 1rem;
  background-color: orangered;
}

.signup__btn, .login__btn {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.nav {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 20;
  background-color: #F3322B;
}

.nav__list {
  min-width: 20%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem 0;
}

.nav__box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #eee;
}

/* HOME PAGE */
.home {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('./images/home-large.jpg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

.home__box--sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--home {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 44%;
}

.home__title {
  width: 100%;
  font-size: 5.6rem;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 37%;
}

.form--home input, select {
  width: 15%;
  padding: 1.5rem 1.3rem;
  border: 1px solid #ccc;
  outline: none;
  margin: 0 .5rem;
}

.btn--home {
  padding: 1.6rem 3.2rem;
  background-color: orangered;
}

/* ADVERTISEMENTS */
.advert {
  height: auto;
  margin-top: 1rem;
}

.advert__box {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content;
}

.advert__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 2rem;
}

.advert__content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  grid-gap: 5rem;
  justify-content: center;
}

.advert__primary {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  height: 53vh;
  position: relative;
}

.advert__primary-colored {
  height: 30%;
  background-color: #F3322B;
}

/* later switch with actual image */
.advert__primary-logo {
  height: 32%;
  width: 100%;
  /* display: block; for image */
  margin: 0 auto;
  /* border: .5rem solid #fff; */
  border-radius: 50%;
  position: relative;
  bottom: 16%;
  /* background-image: url('./images/g-logo.jpg'); */
  background-position: center;
  background-size: cover;
  position: relative;
}

.advert__primary-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.advert__primary-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 45%;
}

.advert__primary-company{
  font-size: 1.5rem;
  font-weight: 500;
}

.advert__primary-position {
  font-size: 1.2rem;
  font-weight: 500;
}

.advert__primary-shaded {
  font-size: 1.3rem;
  background: #eee;
  padding: 1rem;
}

.advert__primary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advert__primary-btn {
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
}

/* .advert__sidebar {
  border: 1px solid blue;
} */

/* Modal */
.modal {
  height: 100vh;
  width: 100vw;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 40;
}

.modal__layer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 50;
}
@supports (-webkit-backdrop-filter: blur(0px)) or (backdrop-filter: blur(10px)) {
  .modal__layer {
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
}

.modal__content {
  height: 55%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  z-index: 50;
}

.modal__title {
  position: absolute;
  top: 0;
  font-size: 3.5rem;
  font-weight: 300;
}

.modal__form {
  width: 85%;
  margin-top: 2rem;
}

.modal__input--2 select {
  width: 84%;
}

.modal__buttons {
  display: block;
  margin: 1rem auto 0 auto;
}

.modal__buttons > * {
  margin-left: .5rem;
}

.btn--close {
  background-color: orangered;
}

.modal__closed {
  display: none;
}

/* AnimeJS */
#boxes {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.box {
  height: 50px;
  width: 50px;
}

.one {
  background-color: #00c9ff;
}

.two {
  background-color: #ff0000;
}

.three {
  background-color: #00ff55;
}

.four {
  background-color: #ffee00;
}

/* SLIDER */
.slider{
  margin: 0 auto;
  position: relative;
  top: 10rem;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/****************COOCKIE FOOTER *********************/
.coockie__footer {
  min-height: 10vh;
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  opacity: .9;
  padding: 2rem;
}

.btn--coockie {
  border-radius: .5rem;
}

.advert__single {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2.3rem;
  text-align: center;
}

.advert__single > * {
  border: 1px solid #F3322B;
  margin-top: 6rem;
}

.advert__single-main {
  grid-column: 2 / 3;
  grid-row: 1 / 9;
}

.advert__single-banner {
  height: 100%;
  font-size: 2rem;
  color: #fff;
  grid-column: 1 / -1;
  grid-row: 9 / 12;
  display: flex;
}

.advert__single-box--1,
.advert__single-box--2,
.advert__single-box--3,
.advert__single-box--4,
.advert__single-box--5,
.advert__single-box--6 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; 
}

.advert__single-box--1 {
  background-color: red;
}
.advert__single-box--2 {
  background-color: blue;
}
.advert__single-box--3 {
  background-color: gray;
}
.advert__single-box--4 {
  background-color: seagreen;
}
.advert__single-box--5 {
  background-color: purple;
}
.advert__single-box--6 {
  background-color: coral;
}

.advert__single-sidebar {
  grid-row: 1 / 10;
}

.advert__single-sidebar--1 {
  grid-column: 1 / 2;
}

.advert__single-sidebar--2 {
  grid-column: 3 / 4;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 65%;
  }

  /* .welcome__title {
    font-size: 2.6rem;
  } */

  .nav__list {
    min-width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .signup__btn, .login__btn {
    width: 50%;
  }

  .home__title {
    font-size: 1.7rem;
    top: 33%;
    width: 100%;
  }

  .form--home {
    flex-direction: column;
    bottom: 46%;
  }

  .form--home input, select, .btn--home {
    width: 75%;
    font-size: 1.3rem;
    padding: 1.7rem 1rem;
    /* border: 1px solid #ccc; */
    outline: none;
    margin-bottom: 1rem;
    position: relative;
    top: 8rem;
  }

  .btn--logout {
    top: 0;
    width: 28%;
  }

  .nav__list {
    width: 50%;
  }

 /* .modal__form, #modal__input--2, select {
    position: static;
  } */

  .modal__content {
    height: 68%;
    width: 90%;
  }

  /* .modal__title {

  } */
}

/* MOBILE FIRST */
@media only screen and (min-width: 600px) {
  .welcome__box {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .welcome__box {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome__box {
    width: 30%;
  }

  .advert__primary-logo {
    width: 60%;
    border-radius: 1rem;
  }
}